*.extension filter=lfs diff=lfs merge=lfs -text
data/ESS_data_folder/ESS_combined_dataset.csv filter=lfs diff=lfs merge=lfs -text
data/V-Dem_data_folder/V-Dem-CY-Full+Others-v14.csv filter=lfs diff=lfs merge=lfs -text
